@media screen and (max-width: 992px) {
  .wrapper-left{
   width: 100%;
   height: auto;
  }

  .wrapper-right{
    width: 100%;
  }

  .roman-photo {
  margin: 0 15px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  }

  .site-title {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0;
  }
  .wrapper-left .wrapper {
    padding: 10px 0 0;
  }

  .line-gradient {
    margin-top:10px;
  }
  
}